<section class="section">
  <div class="container">
    <h1 class="title is-size-1">LOGIN</h1>
    <div class="card" style="width:400px; margin: 0 auto;">
      <div class="card-content">

        <form method="POST">
          <div class="control">
            <label for="username">Username</label>
            <input class="input is-large" type="text" id="username" name="username">
          </div>
          <br>
          <div class="control">
            <label for="password">Password</label>
            <input class="input is-large" type="password" id="password" name="password">
          </div>
          <br>
          <button class="button is-large is-fullwidth is-link" type="submit">Login to my Account &rarr;</button>
        </form>
      </div>

      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            Need Access?
            <a href="/register">Register</a>
          </span>
        </p>
      </footer>
    </div>

  </div>
</section>